*
{
	font-family: Snorlax, monospace;
	/*font-size: 24pt;*/
	margin: 0;
	padding: 0;
}
body
{
	background-color: antiquewhite;
	color:black;
}

header,main,footer
{
	padding: 28px;
}

header
{
	background-color: darkslategray;
	color: ghostwhite;
}
p
{
	padding: 12px;
	/*margin-bottom: 28px;*/
}
p:nth-of-type(odd)
{
	background-color: rgba(160,30,30,.2);
}
p:nth-of-type(even)
{
	background-color: rgba(30,30,160,.2);
}
p:first-child
{
	background-color: aquamarine;
}

li
{
	padding: 12px;
	margin-left: 28px;
}
li:nth-of-type(odd)
{
	background-color: rgba(160,30,30,.2);
}
li:nth-of-type(even)
{
	background-color: rgba(30,30,160,.2);
}